# Secrets
.env

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Data lokal
data/
*.db
*.log

# Streamlit
.streamlit/secrets.toml

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
